In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine


engine = create_engine("sqlite:///db/bellybutton.sqlite")

In [2]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples

In [3]:
Base.classes.keys()

['sample_metadata', 'samples']

In [4]:
session = Session(engine)
# Use Pandas to perform the sql query
stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

# Return a list of the column names (sample names)
df.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
sample = "941"
sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]
sample_data.sort_values(sample, axis=0, ascending=False, inplace=True)
sample_data

      otu_id                                          otu_label  941
2721    2722  Bacteria;Firmicutes;Clostridia;Clostridiales;I...  194
943      944  Bacteria;Actinobacteria;Actinobacteria;Actinom...  178
2418    2419  Bacteria;Firmicutes;Clostridia;Clostridiales;I...  162
2538    2539  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   92
3449    3450  Bacteria;Proteobacteria;Epsilonproteobacteria;...   84
1794    1795  Bacteria;Firmicutes;Bacilli;Bacillales;Staphyl...   40
2388    2389  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   37
1313    1314  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...   28
921      922  Bacteria;Actinobacteria;Actinobacteria;Actinom...   27
1166    1167  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...   24
2858    2859  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   21
962      963  Bacteria;Actinobacteria;Actinobacteria;Actinom...   21
2963    2964  Bacteria;Firmicutes;Clostridia;Clostridiales;V...   13
2650    2651  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   10
2307    2308  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   10
481      482                                           Bacteria    8
873      874  Bacteria;Actinobacteria;Actinobacteria;Actinom...    8
2907    2908  Bacteria;Firmicutes;Clostridia;Clostridiales;P...    5
1869    1870  Bacteria;Firmicutes;Bacilli;Lactobacillales;Ae...    5
2263    2264  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    4
40        41                                           Bacteria    4
727      728  Bacteria;Actinobacteria;Actinobacteria;Actinom...    3
1187    1188  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...    3
351      352                                           Bacteria    3
2781    2782  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    3
1925    1926  Bacteria;Firmicutes;Bacilli;Lactobacillales;St...    3
1958    1959                     Bacteria;Firmicutes;Clostridia    3
1199    1200  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...    2
1976    1977       Bacteria;Firmicutes;Clostridia;Clostridiales    2
3311    3312  Bacteria;Proteobacteria;Betaproteobacteria;Bur...    2
260      261                                           Bacteria    2
295      296                                           Bacteria    2
2889    2890  Bacteria;Firmicutes;Clostridia;Clostridiales;L...    2
1928    1929  Bacteria;Firmicutes;Bacilli;Lactobacillales;St...    2
554      555  Bacteria;Actinobacteria;Actinobacteria;Actinom...    2
2703    2704  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2687    2688  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
709      710  Bacteria;Actinobacteria;Actinobacteria;Actinom...    2
188      189                                           Bacteria    2
2499    2500  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2460    2461  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
853      854  Bacteria;Actinobacteria;Actinobacteria;Actinom...    2
938      939  Bacteria;Actinobacteria;Actinobacteria;Actinom...    2
1309    1310  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...    2

In [10]:
results = session.query(Samples_Metadata.sample,Samples_Metadata.WFREQ).filter(Samples_Metadata.sample == sample).all()

# Create a dictionary entry for each row of metadata information
sample_metadata = {}
for result in results:
    sample_metadata["sample"] = result[0]
    sample_metadata["WFREQ"] = result[1]

print(sample_metadata)

{'sample': 941, 'WFREQ': 1.0}